body{
    color: #0a0644;
    background-color: rgba(0, 255, 255, 0.092);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    text-indent: 1.5em;
    margin-top: 3px;
    line-height: 25px;
}

img{
    max-width: 400px;
    max-height: 400px;
}
html {

    background-image: url(https://focus.ua/static/storage/thumbs/920x465/c/14/6107d723-010b90f57680e6766c58b7da2f9df14c.jpg?v=6588_1);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }